```{=html}
<ul class="list">
<% for (const item of items) { %>
<div class="card h-100" id="card-first-color">
<div class="card-body d-flex flex-column">
  <li <%= metadataAttrs(item) %>>
    <a href="<%- item.href %>" class="listing-name"><%= item.name %></a><br/>
    <span class="listing-custom-field"><%= item['custom-field'] %><span>
  </li>
</div>
</div>
<% } %>
</ul>
```
