/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  700 !default;
$headings-font-family: Vollkorn, serif;

$font-family-monospace: "JetBrains Mono";

$cp-primary-blue: #003C71;
$cp-primary-grey: #BBBCBC;
$cp-primary-red: #EF3340;
$cp-secondary-blue: #389FFF;
$cp-secondary-grey: #E6E6E6;
$cp-secondary-lightblue: #CDE7FF;
$cp-secondary-red: #F9B3B8;
$cp-secondary-dark: #2F3030;

$sidebar-bg: transparent;

$footer-bg: $cp-primary-blue;
$footer-fg: $cp-secondary-lightblue;

$link-color:            $cp-primary-blue;
$font-family-sans-serif: "Inter", Helvetica, Arial, Calibri, sans-serif;
$navbar-bg:             $cp-primary-blue;
$navbar-fg:             white;
$navbar-hl:             $cp-secondary-lightblue;
$body-bg:             white;
$body-color:             $cp-primary-blue;
$heading-color:          $cp-primary-blue;

$nav-tabs-border-color: $cp-primary-blue;
$nav-link-border-color: $cp-primary-blue;
$nav-link-color: $cp-primary-blue;

$nav-tabs-border-width: 0px;
$nav-tabs-link-active-color: $cp-primary-blue;
$nav-tabs-link-active-bg: $cp-primary-blue;
$nav-tabs-link-active-border-color: $cp-primary-blue $cp-primary-blue rgba(255,255,255,0) $cp-primary-blue;
$nav-tabs-link-hover-border-color: $cp-primary-blue $cp-primary-blue rgba(255,255,255,0) $cp-primary-blue;

$callout-color-note: $cp-primary-blue;
$callout-color-tip: $cp-secondary-blue;
$callout-color-warning: $cp-secondary-red;
$callout-color-important: $cp-secondary-dark;

@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Vollkorn-Bold.woff2') format('woff2'),
}

@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Vollkorn-Italic.woff2') format('woff2'),
}

@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Vollkorn-Regular.woff2') format('woff2'),
}

@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Vollkorn-BoldItalic.woff2') format('woff2'),
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: regular;
  font-weight: 700;
  src: url('fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Inter-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Inter-Italic.woff2') format('woff2');
}


/*-- scss:rules --*/

.nav-link.active {
  background: $cp-primary-blue !important;
  color: $cp-secondary-lightblue !important;
}

.btn {
  border-radius: 20px;
  padding-bottom: 5pt;
  background: $cp-primary-blue;
  border-color: $cp-primary-blue;
  width: fit-content;
}

.btn-resource {
  background-color: transparent;
  border-color: $cp-primary-blue;
}

.btn-resource:hover {
  background-color: $cp-secondary-lightblue;
  border-color: $cp-primary-blue;
}

.btn-resource p a {
  color: $cp-primary-blue !important;
  text-decoration: none !important;
}

.btn p {
  margin-bottom: 0px;
}

.btn-primary p a {
  text-decoration: none;
  color: white !important;
  text-decoration: none;
}

.card-title {
  font-size: 20pt;
  font-family: $headings-font-family !important;
  color: $cp-primary-blue;
  margin-bottom: 10pt;
  font-weight: 800;
  font-family: $font-family-sans-serif;
}

.card-subtitle {
  font-size: 13px !important;
}

.card-title-small {
  font-size: 17pt;
  font-family: $headings-font-family !important;
  color: $cp-primary-blue !important;
  text-decoration: none !important;
  font-weight: 800;
  font-family: $font-family-sans-serif;
  line-height: 1.2;
}

.listing-title {
  font-size: 17pt !important;
  line-height: 23pt;
  text-decoration: none !important;
}

.card-title-small .listing-title {
  margin-bottom: 50pt !important;
  padding-bottom: 50pt !important;
}

.card-title-team {
  font-size: 14pt !important;
  font-family: $font-family-sans-serif !important;
}

.card-subtitle-small {
  font-size: 12pt;
  color: $cp-secondary-dark !important;
  font-family: $font-family-sans-serif;
}

.grey-text {
  color: grey;
}

.grey-text a {
  color: grey !important;
}

.card-alt {
  padding: 30px;
  border-radius: 0px;
  background-color: $cp-primary-blue;
}

.card {
  border-radius: 30px;
  border-width: 2px;
  border-color: $cp-primary-blue;
  padding: 5px;
  padding-bottom: 0px;
  background-color: white;
  text-decoration: none !important;
}

.card-red {
  background-color: $cp-secondary-red;
}

.card-blue {
  background-color: $cp-secondary-lightblue;
}

.card-grey {
  background-color: $cp-secondary-grey;
}

.card-darkblue {
  background-color: $cp-secondary-blue;
}

.card-case {
  background-color: white;
  border-color: $cp-secondary-dark;
}

.card-tym {
  background-color: white;
  border-color: $cp-secondary-blue;
}

.card-napad {
  border-style: dotted;
}

.card-zacit {
  border-width: 5px;
  border-color: $cp-primary-red;
}

.callout {
  border-radius: 0px;
  border-right-color: white !important;
  border-top-color: white !important;
  border-bottom-color: white !important;
  border-width: 3px !important;
  border-left-width: 7px !important;
}

.callout-tip {
  border-left-color: $cp-primary-blue !important;
}

.callout-info {
  border-left-color: $cp-secondary-dark !important;
}

.callout-color-warning {
  border-left-color: $cp-primary-red !important;
}

.listing-category {
  color: $cp-primary-blue !important;
  font-size: 6pt !important;
  border-color: $cp-primary-blue !important;
}

.listing-categories {
  padding-top: 20px;
  padding-bottom: 0px;
}

.navbar {
  border-bottom: 7px solid $cp-primary-red;
}

.lead {
  font-weight: 500;
}

.quarto-listing-category .category {
  font-size: 10pt;
  color: $cp-secondary-dark;
}

.column-margin {
  color: $cp-primary-blue !important;
}

.panel-tabset .nav-link.active {
  color: $cp-secondary-lightblue !important;
  background: $cp-primary-blue !important;
  font-weight: 500;
}

.toc-active .nav-link.active {
  background: none !important;
}

.title {
  font-size: 30pt;
}

.title .lead {
  font-size: 30pt;
}

.title .listing-title {
  font-size: 10pt;
}

a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  border-bottom-width: 0px;
}

h1 {
  font-size: 25pt !important;
}

h2 {
  font-size: 20pt;
}

.rizeni-blok {
  background-color: $cp-primary-blue;
  padding: 20px;
}

.callout-body {
  margin-left: 30px;
}

.strip {
  background-color: $cp-secondary-lightblue;
}

.tab-content {
  border-width: 0px;
}

.btn-bloky {
  width: 150px;
  margin-bottom: 15pt;
  margin-left: 10pt;
  padding: 5pt;
}

.btn-bloky:hover {
  background-color: $cp-secondary-blue;
}

.btn-bloky > a {
  color: white;
  text-decoration: none;
}

.blockquote {
  color: $cp-primary-blue;
}

.nav-pills {
  border-radius: 10px;
}

.nav-item {
  border-radius: 10px;
}

.btn-top {
  background-color: $cp-primary-red;
  color: white;
  border: none;
}
