/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  600 !default;
$headings-font-family: Vollkorn, serif;

$cp-primary-blue: #003C71;
$cp-primary-grey: #BBBCBC;
$cp-primary-red: #EF3340;
$cp-secondary-blue: #389FFF;
$cp-secondary-grey: #E6E6E6;
$cp-secondary-lightblue: #CDE7FF;
$cp-secondary-red: #F9B3B8;
$cp-secondary-dark: #2F3030;

$link-color:            $cp-primary-blue;
$font-family-sans-serif: "Inter", Arial, Calibri, sans-serif;
$navbar-bg:             $cp-primary-blue;
$navbar-fg:             white;
$navbar-hl:             $cp-secondary-lightblue;
$body-bg:             $cp-secondary-lightblue;
$body-color:             $cp-primary-blue;
$heading-color:          $cp-primary-blue;

/*-- scss:rules --*/

.card-title {
  font-size: 20pt;
  color: $cp-secondary-dark;
  margin-bottom: 10pt;
  font-weight: 800;
  font-family: $font-family-sans-serif;
}

.card-title-small {
  font-size: 14pt;
  color: $cp-secondary-lightblue !important;
  text-decoration: none;
  margin-bottom: 10pt;
  font-weight: 800;
  font-family: $font-family-sans-serif;
}

.card-subtitle-small {
  font-size: 12pt;
  color: $cp-secondary-lightblue !important;
  font-family: $font-family-sans-serif;
}

.card-alt {
  padding: 20px;
  border-radius: 20px;
  background-color: $cp-secondary-dark;
}
.card {
  border-radius: 20px;
  background-color: $cp-secondary-blue;
  border-color: white;
}

.callout-note {
  border-color: $cp-primary-blue !important;
}

.listing-category {
  color: $cp-primary-blue !important;
  border-color: $cp-secondary-lightblue !important;
}


